.banner-prompt,
.add-rectangle {
  position: fixed;
  transform: scale(1) !important;
  transform-origin: top left;
  z-index: 1000;
}

.banner-prompt {
  top: 20px;
  right: 20px;
  width: 300px;
}

.add-rectangle {
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
}